// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.aboutMe_mod {
  padding: 1em;
}

.headline{
  text-align: center;
}

.module {
  padding: 1.5em 1em;
}

.center {
  position: relative;
  text-align: center;
}
 p h2 .center {
   text-align: center;
   font-size: 1.5em;
 }
