<!-- gets displayed in ng-view -->

<div class="container-fluid">
<div class="row">
<h1 class='headline'>About Me</h1>
  <div class="col-xs-6 col-xs-offset-3">
    <p>Former English teacher pursuing my passion for Web Development.</p>
<br>
    <p>After teaching English overseas for a few years, I decided to pursue a career in Web Development. I started teaching myself how to code, but quickly realized that I would only go so far with self education and decided to enroll in General Assembly's three-month full time course to learn the skills I need to build apps for today's market.</p>
<br>
    <p>The constant evolving technology world provides me the perfect environment to thrive as a person and hopefully make an impact on the world.</p>
  </div>
</div>


  <div class="module col-xs-12">
    <div class="row">
      <h1 class='headline'>Skillset:</h1>
    </div>
    <div class="skill_mod col-xs-3 col-xs-offset-3">
      <li>HTML</li>
      <li>CSS</li>
      <li>nodeJS</li>
      <li>expressJS</li>
      <li>mongoDB</li>
      <li>AJAX</li>
    </div>
    <div class="skill_mod col-xs-4 col-xs-offset-1">
      <li>jQuery</li>
      <li>AngularJS</li>
      <li>Ruby/Ruby on Rails</li>
      <li>Heroku</li>
      <li>PostgrsSQL</li>
      <li>Transcact-SQL</li>
      <li>HTML email templates</li>
    </div>
  </div>

  <div class="module">
    <h1 class='headline'>Past Work</h1>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12 ">
            <div class="col-xs-3" style="display:inline-block;">
              <div class="thub_des">
                 <p class='center'><h2>MajorCraft</h2></p>
              </div>
              <div class="thumbnail">
                <!-- returns 406 (not acceptable) need to figure this out -->
                <a href="https://majorcraft-america.com/" target="_blank"><img src="https://docs.google.com/uc?id=0B-fu9902RviJRmg0UlREd3ZXQmM" alt="screenshot"></a>
              </div>

            </div>
            <div class="col-xs-8 col-xs-offset-1" style="display:inline-block; border: 1px solid red; padding-top:1em;">
              This is an e-commerce website that was produced for MajorCraft Japan.
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="col-xs-3" style="display:inline-block;">
              <div class="thumb_des">
                <p class="center"><h2>Clover</h2></p>
              </div>
              <div class="thumbnail">
                <!-- returns 406 (not acceptable) need to figure this out -->
                <a href="https://clover-electronics.com/" target="_blank"><img src="https://docs.google.com/uc?id=0B-fu9902RviJenNhaElkZVRTNWM" alt="screenshot"></a>
              </div>

            </div>
            <div class="col-xs-8 col-xs-offset-1" style="display:inline-block; border: 1px solid red; padding-top:1em;">
              This is a corporate website produced for Clover Japan.
            </div>
          </div>
        </div>
      </div>




  </div>
</div>
