<!-- gets displayed in ng-view -->

<div class="container-fluid">
<div class="row">
  <h1 class='center'>Want to get in touch</h1>
</div>
<div [style.background]="url('http://science-all.com/images/background-images/background-images-11.jpg')"
  [style.width.px]="200" [style.height.px]="150p"></div>

</span>
  <div class="row panel panel-default">
    <div class="panel-body">
      feel free to reach out! <br>
      TODO: mailto -> myemail <br>
            twilo bot for SMS?

    </div>
  </div>

</div>
